body {
    margin: 40px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Rockwell';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
    text-decoration: italic;
    font-family:'Rockwell';
}
h1 {
    font-size: 2em;
    font-family:'Arial black';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family:'Rockwell';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

ul.posts li {
    list-style: none;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #f1f1f1;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

@media screen and (max-width:320px) {
  /* CSS for screens that are 320 pixels or less will be put in this section */
}

@media screen and (min-width:320px) and (max-width:640px) {
  /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
}

